table {
  width: 100%;
  text-align: center;
}

table th {
  text-align: center;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.filter__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filter__form .form-group {
  margin: 10px;
}
