<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card fxFlex="550px">
    <mat-card-content>
      <div fxLayout="column" dir="rtl">

        <img fxFlex="50px" fxFlexAlign="center" src="http://www.shatel.ir/file/2016/10/shatel.png" alt="Avatar">

        <form fxFlex [formGroup]="formGroup">
          <div fxLayout="row wrap" fxLayoutAlign="center center">

            <mat-form-field fxFlex="70">
              <input type="text" matInput placeholder="نام کاربری..." formControlName="username">
            </mat-form-field>

            <mat-form-field fxFlex="70">
              <input type="password" matInput placeholder="رمز عبور..." formControlName="password">
              <mat-error *ngIf="formGroup.get('password').invalid">{{'Error Password' | translate}}</mat-error>
            </mat-form-field>

          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions >
      <button type="button" (click)="submit()" mat-raised-button color="primary">{{'login' | translate}}</button>
    </mat-card-actions>

    <button mat-button type="button" color="warn" *ngIf="">{{'Logout' | translate}}</button>

  </mat-card>

</div>
